
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div>

    <h3>Edit Form</h3>
    <form method="post" action="">
        <input type="hidden" value="@ViewBag.TovarId" name="TovarId" />
        <table>
            <tr>
                <td><p>Name :</p></td>
                <td><input type="text" name="Name") /> </td>
            </tr>
            <tr>
                <td><p>Price :</p></td>
                <td>
                    <input type="text" name="Price" />
                </td>
            </tr>
            <tr>
                <td><p>Count :</p></td>
                <td>
                    <input type="text" name="Count" />
                </td>
            </tr>


        </table>
        <tr><td><input class="btn btn-success" type="submit" value="Add" /> </td><td></td></tr>


    </form>
</div>

