body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:burlywood;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

h3, p {
   color: #5c082b
}

